.buttonLink{
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
    }
    
    .buttonLink:hover{
    box-shadow: 0 0 10px #96f68b;
    opacity: 1;
    color: #96f68b;
    }

